@import "./sassy";

[ng-cloak] {
  display: none;
}

#wrapper {
  position: relative;
}

#header-container {
  white-space: nowrap;
  padding-bottom: $body-padding;
}

#title {
  display: inline-block;
}

#nav-container {
  display: inline-block;
  position: relative;
  left: 20px;
}

#loading-message {
  width: $tab-width;
  height: $tab-height;
  line-height: $tab-height;
  border-bottom: 2px dashed $black-text;
  opacity: $faded-opacity;
  text-align: center;
}

.food-list {
  width: $content-width;

  li {
    padding: 2px $horizontal-padding;

    .food-label {
      width: 100%;
    }

    .food-group {
      float: right;
    }
  }
}

.nutrient-list {
  li {
    padding: 2px $horizontal-padding;
  }
}

.search-form {
  padding: 0 $horizontal-padding $horizontal-padding;
}


$comparison-list-width: 230px;
$comparison-header-height: 80px; // comparisonHeaderHeight in visuals.coffee
$comparison-row-height: 46px; // comparisonRowHeight in visuals.coffee

food-comparison {
  position: relative;
}

.food-comparison-list {
  width: $comparison-list-width;
  position: absolute;
  left: 0;
  top: $comparison-header-height;
  z-index: 1;

  li {
    position: relative;
    height: $comparison-row-height;
    padding-right: $horizontal-padding;
  }

  .food-label {
    height: 100%;
    width: 100%;
    display: table; // vertical centering hack for variable height children

    a {
      display: table-cell;
      vertical-align: middle;
      padding: 0 $horizontal-padding;
      color: $black-text;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .remove-button {
    position: absolute;
    left: -16px;
    top: 14px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    padding-left: $horizontal-padding;

    &:hover {
      font-weight: bold;
      color: darken($red, 20%);
    }
  }
}

.food-comparison-graphs {
  white-space: nowrap;
  margin-left: $comparison-list-width + $horizontal-padding;

  svg {
    margin-left: -4px; // to prevent text disappearance problems
  }
}

.clear-selected-button {
  position: relative;
  top: 10px;
  margin-left: $horizontal-padding;
}

.nutrient-label {
  cursor: pointer;
}

.text-with-icon {
  width: $content-width;
  $icon-size: 48px;
  position: relative;
  padding-left: $icon-size + $horizontal-padding * 2;
  min-height: $icon-size;
  margin-bottom: $font-size * 2;

  img {
    width: $icon-size;
    height: $icon-size;
    position: absolute;
    left: 0;
    top: 0;
  }
}

nutrient-list {
  display: block;
  margin-bottom: $vertical-padding;
}

.nutrient-graph {
  display: inline-block;
  width: 100px;
  height: 16px;
}

.nutrient-bar {
  background-color: $green;
  height: 16px;
}