@import "sassy-variables";

@mixin border($color: $border-color) {
  border: 1px solid $color;
}

@mixin rainbow {
  $length: length($rainbow);
  $i: 1;
  @while $i <= $length {
    :nth-child(#{$length}n + #{$i}) {
      background-color: nth($rainbow, $i);
    }
    $i: $i + 1;
  }
}

@mixin selectable {
  cursor: pointer;
  border: 2px dashed transparent;
  border-radius: $border-radius;

  &:hover {
    background-color: $highlight-hover-color;
    border-color: $highlight-hover-border-color;
  }

  &.selected {
    background-color: $highlight-color;
    border-color: $highlight-border-color;
  }

  &:active {
    background-color: $highlight-active-color;
    border-color: $highlight-active-border-color;
  }
}