@import "sassy-variables";
@import "sassy-mixins";

.rainbow {
  $length: length($rainbow);
  $i: 1;
  @while $i <= $length {
    :nth-child(#{$length}n + #{$i}) {
      background-color: nth($rainbow, $i);
    }
    $i: $i + 1;
  }
}