
<div class="text-with-icon">
  <img src="https://a248.e.akamai.net/assets.github.com/images/icons/emoji/elephant.png">
  <h3>Mission</h3>
  <p>
    This app attempts to help us make better food choices by putting the nutrition data from the <a href="http://ndb.nal.usda.gov/">USDA National Nutrient Database</a> in an easily digestible form. By comparing foods in terms of nutrients per calorie, we're able to get an idea of what's healthy and what's empty.
  </p>
</div>

<div class="text-with-icon">
  <img src="https://a248.e.akamai.net/assets.github.com/images/icons/emoji/dolphin.png">
  <h3>Free and open source</h3>
  <p>
    The <a href="https://github.com/ryanatkn/nutrients-per-calorie">source code</a> is available on GitHub and is permissively licensed.
  </p>
</div>

<div class="text-with-icon">
  <img src="https://a248.e.akamai.net/assets.github.com/images/icons/emoji/monkey.png">
  <h3>About the author</h3>
  <p>
    My name is Ryan. You can find me on <a href="https://github.com/ryanatkn">GitHub</a> and email me at ryanatkn at gmail. Yay f☯☮d.
  </p>
</div>