<div class="search-form">
  <input type="text" ng-model="helpers.query.text" placeholder="Search foods, using - to exclude results" input-clearer />
  <input type="checkbox" ng-model="helpers.query.includeFoodGroups" id="include-food-groups" />
  <label for="include-food-groups">Include food groups in search</label>
  <food-group-filter></food-group-filter>
</div>
<ul class="food-list">
  <li ng-repeat="food in foodData.foods | searchFoods: helpers.query | limitTo: 50"
      ng-click="helpers.toggle(food)" ng-class="{selected: helpers.isSelected(food)}"
      class="selectable deselectable">
    <span class="food-label">{{food.Long_Desc}}</span>
    <span class="food-group">{{food.FdGrp_Desc}}</span>
  </li>
</ul>