<h3 ng-show="!food" class="padded-left master-color">
  Click a food to view its details.
</h3>
<div ng-show="food">
  <h3 class="padded-left">{{food.Long_Desc}}</h3>
  <p class="padded-left">{{food.FdGrp_Desc}}</p>
  <p class="padded-left">
    <a href="{{getCompareLink(food)}}">Compare this</a>
  </p>
  <div class="food-detail-graph"></div>
  <ul class="food-detail-pie-chart-labels">
    <li>
      <a class="protein" href="{{foodData.getNutrientLink('Protein')}}">
        {{food["Protein"] | percent}} protein
      </a>
    </li>
    <li>
      <a class="carbohydrate" href="{{foodData.getNutrientLink('Carbohydrate, by difference')}}">
        {{food["Carbohydrate, by difference"] | percent}} carbohydrate
      </a>
    </li>
    <li>
      <a class="fat" href="{{foodData.getNutrientLink('Total lipid (fat)')}}">
        {{food["Total lipid (fat)"] | percent}} fat
      </a>
    </li>
  </ul>
</div>