<div id="nutrient-columns">
  <div class="column">
    <nutrient-list helpers="nutrients" nutrient-keys="foodData.macronutrientKeys"></nutrient-list>
  </div>
  <div class="column">
    <nutrient-list helpers="nutrients" nutrient-keys="foodData.vitaminKeys"></nutrient-list>
  </div>
  <div class="column">
    <nutrient-list helpers="nutrients" nutrient-keys="foodData.mineralKeys"></nutrient-list>
  </div>
  <div class="column">
    <nutrient-list helpers="nutrients" nutrient-keys="foodData.aminoAcidKeys"></nutrient-list>
  </div>
  <div class="column">
    <nutrient-list helpers="nutrients" nutrient-keys="foodData.miscKeys"></nutrient-list>
  </div>
  <div class="column">
    <nutrient-list helpers="nutrients" nutrient-keys="foodData.sugarKeys"></nutrient-list>
  </div>
  <div class="column">
    <nutrient-list helpers="nutrients" nutrient-keys="foodData.otherKeys"></nutrient-list>
  </div>
</div>

<p>
  <a href="{{nutrients.selectedNutrient.WikipediaLink}}" ng-show="nutrients.selectedNutrient.WikipediaLink" 
    target="_blank" class="padded-left">
    Wikipedia: {{nutrients.selectedNutrient.text}}
  </a>
</p> 

<!-- TODO add a food group checkbox dropdown on every search - globally shared data - saved to localStorage! -->
<!-- TODO saved searches, quick clear -->

<div ng-show="nutrients.selectedNutrient">
  <div class="search-form">
    <input type="text" ng-model="nutrients.query.text" placeholder="Search foods, using - to exclude results" input-clearer />
    <input type="checkbox" ng-model="nutrients.query.includeFoodGroups" id="include-food-groups" />
    <label for="include-food-groups">Include food groups in search</label>
    <food-group-filter></food-group-filter>
  </div>
  <ul class="food-list">
    <li ng-repeat="food in nutrients.filteredFoods | orderBy: nutrients.orderBy : true | limitTo: 100">
      <div class="nutrient-graph">
        <div class="nutrient-bar" style="width: {{food.nutrientPercentOfMax}}"></div>
      </div>
      <a class="food-label" href="#/foods?food={{food.NDB_No}}">{{food.Long_Desc}}</a>
      <span class="food-group">{{food.FdGrp_Desc}}</span>
    </li>
  </ul>
</div>
<h3 class="padded-left master-color" ng-show="!nutrients.selectedNutrient">
  Click a nutrient to see its best sources.
</h3>