/* line 17, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/sassy/classes.scss */
.master-color {
  color: #349e01;
}

/* line 9, ../sass/sassy/mixins.scss */
.rainbow :nth-child(10n + 1) {
  background-color: #ff6a61;
}
/* line 9, ../sass/sassy/mixins.scss */
.rainbow :nth-child(10n + 2) {
  background-color: #ff9f69;
}
/* line 9, ../sass/sassy/mixins.scss */
.rainbow :nth-child(10n + 3) {
  background-color: #ffd471;
}
/* line 9, ../sass/sassy/mixins.scss */
.rainbow :nth-child(10n + 4) {
  background-color: #c9dc6f;
}
/* line 9, ../sass/sassy/mixins.scss */
.rainbow :nth-child(10n + 5) {
  background-color: #94e46d;
}
/* line 9, ../sass/sassy/mixins.scss */
.rainbow :nth-child(10n + 6) {
  background-color: #81dbae;
}
/* line 9, ../sass/sassy/mixins.scss */
.rainbow :nth-child(10n + 7) {
  background-color: #6ed2ef;
}
/* line 9, ../sass/sassy/mixins.scss */
.rainbow :nth-child(10n + 8) {
  background-color: #9fb2f1;
}
/* line 9, ../sass/sassy/mixins.scss */
.rainbow :nth-child(10n + 9) {
  background-color: #d092f4;
}
/* line 9, ../sass/sassy/mixins.scss */
.rainbow :nth-child(10n + 10) {
  background-color: #e77eaa;
}

/* line 9, ../sass/sassy/classes.scss */
.selectable {
  cursor: pointer;
  border: 2px dashed transparent;
  border-radius: 2px;
}
/* line 36, ../sass/sassy/mixins.scss */
.selectable:hover {
  background-color: rgba(148, 228, 109, 0.1);
  border-color: rgba(148, 228, 109, 0.6);
}
/* line 40, ../sass/sassy/mixins.scss */
.selectable.selected {
  cursor: default;
  background-color: rgba(148, 228, 109, 0.25);
  border-color: #94e46d;
}
/* line 45, ../sass/sassy/mixins.scss */
.selectable:active {
  background-color: rgba(148, 228, 109, 0.17);
  border-color: rgba(148, 228, 109, 0.8);
}

/* line 51, ../sass/sassy/mixins.scss */
.deselectable.selected {
  cursor: pointer;
}

/* line 17, ../sass/sassy/classes.scss */
.input-clearer {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: -30px;
  position: relative;
  left: -30px;
  color: #bbbbbb;
  text-align: center;
  cursor: pointer;
}
/* line 29, ../sass/sassy/classes.scss */
.input-clearer:hover {
  font-weight: bold;
  color: #94e46d;
}
/* line 34, ../sass/sassy/classes.scss */
.input-clearer:active {
  color: #5ac625;
}

/* line 39, ../sass/sassy/classes.scss */
.inactive {
  color: #bbbbbb;
}

/* line 9, ../sass/sassy/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../sass/sassy/main.scss */
body {
  padding: 28px;
  font-size: 14px;
  line-height: 1.25;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222222;
}

/* line 21, ../sass/sassy/main.scss */
h1 {
  font-size: 48px;
}

/* line 24, ../sass/sassy/main.scss */
h2 {
  font-size: 36px;
}

/* line 27, ../sass/sassy/main.scss */
h3 {
  font-size: 24px;
}

/* line 30, ../sass/sassy/main.scss */
h4 {
  font-size: 20px;
}

/* line 33, ../sass/sassy/main.scss */
h5 {
  font-size: 17px;
}

/* line 36, ../sass/sassy/main.scss */
h6 {
  font-size: 14px;
}

/* line 40, ../sass/sassy/main.scss */
input[type="text"] {
  height: 30px;
  font-size: 14px;
  padding: 6px 6px;
  margin: 0;
  border-radius: 2px;
  border: 1px solid #bbbbbb;
  outline: none;
  width: 300px;
}
/* line 50, ../sass/sassy/main.scss */
input[type="text"]:hover {
  border-color: #a2a2a2;
}
/* line 54, ../sass/sassy/main.scss */
input[type="text"]:focus {
  border-color: #5ac625;
}

/* line 59, ../sass/sassy/main.scss */
input[type="checkbox"] {
  position: relative;
  top: 1px;
}

/* line 64, ../sass/sassy/main.scss */
button {
  font-size: 14px;
  cursor: pointer;
  padding: 6px 8px;
  margin: 0;
  border-radius: 2px;
  border: 1px solid #bbbbbb;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(15%, #ffffff), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#eeeeee, #ffffff 15%, #eeeeee);
  background-image: -moz-linear-gradient(#eeeeee, #ffffff 15%, #eeeeee);
  background-image: -o-linear-gradient(#eeeeee, #ffffff 15%, #eeeeee);
  background-image: linear-gradient(#eeeeee, #ffffff 15%, #eeeeee);
  color: #444;
}
/* line 74, ../sass/sassy/main.scss */
button:hover {
  border-color: #a2a2a2;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7e7e7), color-stop(15%, #ffffff), color-stop(100%, #e7e7e7));
  background-image: -webkit-linear-gradient(#e7e7e7, #ffffff 15%, #e7e7e7);
  background-image: -moz-linear-gradient(#e7e7e7, #ffffff 15%, #e7e7e7);
  background-image: -o-linear-gradient(#e7e7e7, #ffffff 15%, #e7e7e7);
  background-image: linear-gradient(#e7e7e7, #ffffff 15%, #e7e7e7);
}
/* line 80, ../sass/sassy/main.scss */
button:active {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08) inset, 0 0 8px 1px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08) inset, 0 0 8px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08) inset, 0 0 8px 1px rgba(0, 0, 0, 0.1) inset;
}

/* line 86, ../sass/sassy/main.scss */
::selection {
  background: #94e46d;
}

/* line 89, ../sass/sassy/main.scss */
::-moz-selection {
  background: #94e46d;
}

/* line 95, ../sass/sassy/main.scss */
.tabs li {
  display: inline-block;
  width: 120px;
  height: 41px;
}
/* line 100, ../sass/sassy/main.scss */
.tabs li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 41px;
  text-align: center;
  color: #222222;
  text-decoration: none;
  font-size: 24px;
  opacity: 0.35;
  border-bottom: 2px dashed transparent;
}
/* line 112, ../sass/sassy/main.scss */
.tabs li a:hover {
  border-bottom-color: #222222;
  opacity: 0.55;
}
/* line 117, ../sass/sassy/main.scss */
.tabs li a:active {
  opacity: 0.75;
}
/* line 123, ../sass/sassy/main.scss */
.tabs li.active a {
  border-bottom-color: #222222;
  opacity: 1.0;
}

/* line 131, ../sass/sassy/main.scss */
a {
  color: #349e01;
  text-decoration: none;
}
/* line 135, ../sass/sassy/main.scss */
a:hover {
  text-decoration: underline;
}

/* line 3, ../sass/main.scss */
[ng-cloak] {
  display: none;
}

/* line 7, ../sass/main.scss */
#wrapper {
  position: relative;
}

/* line 11, ../sass/main.scss */
#header-container {
  white-space: nowrap;
  padding-bottom: 28px;
  padding-left: 6px;
  position: relative;
}

/* line 18, ../sass/main.scss */
#help-link {
  position: absolute;
  left: 9px;
  top: 52px;
}

/* line 24, ../sass/main.scss */
#title {
  display: inline-block;
}

/* line 28, ../sass/main.scss */
#nav-container {
  display: inline-block;
  position: relative;
  left: 20px;
}

/* line 34, ../sass/main.scss */
#loading-message {
  width: 120px;
  height: 41px;
  line-height: 41px;
  border-bottom: 2px dashed #222222;
  opacity: 0.35;
  text-align: center;
}

/* line 43, ../sass/main.scss */
.food-list {
  width: 1032px;
}
/* line 46, ../sass/main.scss */
.food-list li {
  padding: 2px 6px;
}
/* line 49, ../sass/main.scss */
.food-list li .food-label {
  width: 100%;
  color: #222222;
}
/* line 54, ../sass/main.scss */
.food-list li .food-group {
  float: right;
}

/* line 61, ../sass/main.scss */
.nutrient-list li {
  padding: 2px 6px;
}

/* line 66, ../sass/main.scss */
.search-form {
  width: 1032px;
  padding: 6px 0 6px 6px;
  white-space: nowrap;
  position: relative;
}

/* line 77, ../sass/main.scss */
food-comparison {
  position: relative;
}
/* line 80, ../sass/main.scss */
food-comparison h3 {
  margin-bottom: 2px;
}
/* line 84, ../sass/main.scss */
food-comparison > div {
  position: relative;
}

/* line 89, ../sass/main.scss */
.food-comparison-list {
  width: 230px;
  position: absolute;
  left: 0;
  top: 80px;
  z-index: 1;
}
/* line 96, ../sass/main.scss */
.food-comparison-list li {
  position: relative;
  height: 46px;
  padding-right: 6px;
}
/* line 102, ../sass/main.scss */
.food-comparison-list .food-label {
  height: 100%;
  width: 100%;
  display: table;
}
/* line 107, ../sass/main.scss */
.food-comparison-list .food-label span {
  display: table-cell;
  vertical-align: middle;
  padding: 0 6px;
  color: #222222;
  line-height: 1;
}

/* line 117, ../sass/main.scss */
.remove-button {
  position: absolute;
  left: -20px;
  top: 14px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  padding-left: 6px;
  color: #bbbbbb;
}
/* line 127, ../sass/main.scss */
.remove-button:hover {
  font-weight: bold;
  color: #94e46d;
}
/* line 132, ../sass/main.scss */
.remove-button:active {
  color: #5ac625;
}

/* line 137, ../sass/main.scss */
.food-comparison-graphs {
  white-space: nowrap;
  margin-left: 236px;
}
/* line 141, ../sass/main.scss */
.food-comparison-graphs svg {
  margin-left: -4px;
}
/* line 144, ../sass/main.scss */
.food-comparison-graphs svg:first-child {
  position: relative;
  top: 3px;
}

/* line 151, ../sass/main.scss */
.clear-selected-button {
  position: relative;
  top: 10px;
  margin-left: 6px;
}

/* line 157, ../sass/main.scss */
.nutrient-label {
  cursor: pointer;
}
/* line 160, ../sass/main.scss */
.nutrient-label:hover {
  text-decoration: underline;
}

/* line 165, ../sass/main.scss */
.text-with-icon {
  width: 1032px;
  position: relative;
  padding-left: 60px;
  min-height: 48px;
  margin-bottom: 28px;
}
/* line 173, ../sass/main.scss */
.text-with-icon img {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 182, ../sass/main.scss */
nutrient-list {
  display: block;
  margin-bottom: 14px;
}

/* line 187, ../sass/main.scss */
.nutrient-graph {
  display: inline-block;
  width: 100px;
  height: 16px;
  background-color: rgba(148, 228, 109, 0.5);
  position: relative;
  top: 3px;
}

/* line 196, ../sass/main.scss */
.nutrient-bar {
  background-color: #94e46d;
  height: 16px;
}

/* line 201, ../sass/main.scss */
food-detail {
  white-space: nowrap;
}

/* line 205, ../sass/main.scss */
.food-detail-graph {
  margin: 14px 0;
  display: inline-block;
}

/* line 210, ../sass/main.scss */
.food-detail-pie-chart-labels {
  display: inline-block;
  font-size: 24px;
  position: relative;
  top: -61px;
  left: 13px;
}

/* line 218, ../sass/main.scss */
.fat {
  color: #ff6a61;
}

/* line 222, ../sass/main.scss */
.carbohydrate {
  color: #94e46d;
}

/* line 226, ../sass/main.scss */
.protein {
  color: #6ed2ef;
}

/* line 230, ../sass/main.scss */
.padded-left {
  padding-left: 6px;
}

/* line 234, ../sass/main.scss */
.padded {
  padding: 6px;
}

/* line 238, ../sass/main.scss */
food-group-filter {
  position: absolute !important;
  right: 0;
  top: 6px;
}
/* line 244, ../sass/main.scss */
food-group-filter ul li {
  position: relative;
  padding-right: 46px !important;
}
/* line 248, ../sass/main.scss */
food-group-filter ul li span {
  position: absolute;
  right: 6px;
  top: 6px;
}

/* line 257, ../sass/main.scss */
.mm-dropdown {
  position: relative;
}
/* line 63, ../sass/sassy/mixins.scss */
.mm-dropdown .dropdown-toggle {
  padding: 3px 6px;
  cursor: pointer;
  cursor: pointer;
  border: 2px dashed transparent;
  border-radius: 2px;
  position: relative;
  top: 2px;
}
/* line 36, ../sass/sassy/mixins.scss */
.mm-dropdown .dropdown-toggle:hover {
  background-color: rgba(148, 228, 109, 0.1);
  border-color: rgba(148, 228, 109, 0.6);
}
/* line 40, ../sass/sassy/mixins.scss */
.mm-dropdown .dropdown-toggle.selected {
  cursor: default;
  background-color: rgba(148, 228, 109, 0.25);
  border-color: #94e46d;
}
/* line 45, ../sass/sassy/mixins.scss */
.mm-dropdown .dropdown-toggle:active {
  background-color: rgba(148, 228, 109, 0.17);
  border-color: rgba(148, 228, 109, 0.8);
}
/* line 72, ../sass/sassy/mixins.scss */
.mm-dropdown.open .dropdown-toggle {
  background-color: rgba(148, 228, 109, 0.25);
  border-color: #94e46d;
}
/* line 75, ../sass/sassy/mixins.scss */
.mm-dropdown.open .dropdown-toggle:active {
  background-color: rgba(148, 228, 109, 0.17);
  border-color: rgba(148, 228, 109, 0.8);
}
/* line 81, ../sass/sassy/mixins.scss */
.mm-dropdown .dropdown-content {
  position: absolute;
  top: 32px;
  left: 0;
  display: none;
  z-index: 10;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #bbbbbb;
  -webkit-box-shadow: 0 2px 14px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 14px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 14px 1px rgba(0, 0, 0, 0.15);
  padding: 6px 0;
}
/* line 93, ../sass/sassy/mixins.scss */
.mm-dropdown .dropdown-content > li {
  padding: 3px 6px;
}
/* line 97, ../sass/sassy/mixins.scss */
.mm-dropdown .dropdown-content.dropdown-content-right {
  left: auto;
  right: 0;
}
/* line 104, ../sass/sassy/mixins.scss */
.mm-dropdown.open .dropdown-content {
  display: block;
}

/* line 261, ../sass/main.scss */
#presets {
  width: 179px;
  margin-bottom: 8px;
}
/* line 266, ../sass/main.scss */
#presets .dropdown-content li {
  padding: 0 30px 0 6px;
  position: relative;
}
/* line 271, ../sass/main.scss */
#presets .dropdown-content .selectable {
  padding: 3px 6px;
}
/* line 276, ../sass/main.scss */
#presets .dropdown-toggle {
  display: inline-block;
}
/* line 280, ../sass/main.scss */
#presets #save-preset {
  white-space: nowrap;
  margin-bottom: 6px;
  padding-right: 6px;
}
/* line 285, ../sass/main.scss */
#presets #save-preset button {
  margin-left: 2px;
}
/* line 290, ../sass/main.scss */
#presets .remove-button {
  left: auto;
  right: 11px;
  top: 5px;
}

/* line 299, ../sass/main.scss */
#nutrients .food-list .food-label {
  cursor: pointer;
}
/* line 302, ../sass/main.scss */
#nutrients .food-list .food-label:hover {
  text-decoration: underline;
}

/* line 312, ../sass/main.scss */
#nutrient-columns {
  position: relative;
  height: 350px;
  width: 1388px;
}

/* line 318, ../sass/main.scss */
.column {
  position: absolute;
  top: 0;
  width: 185px;
  padding: 0 6px 6px 6px;
}
/* line 326, ../sass/main.scss */
.column:nth-child(1) {
  left: 0px;
}
/* line 326, ../sass/main.scss */
.column:nth-child(2) {
  left: 185px;
}
/* line 326, ../sass/main.scss */
.column:nth-child(3) {
  left: 370px;
}
/* line 326, ../sass/main.scss */
.column:nth-child(4) {
  left: 555px;
}
/* line 326, ../sass/main.scss */
.column:nth-child(5) {
  left: 740px;
}
/* line 326, ../sass/main.scss */
.column:nth-child(6) {
  left: 925px;
}
/* line 326, ../sass/main.scss */
.column:nth-child(7) {
  left: 1110px;
}
/* line 332, ../sass/main.scss */
.column:last-child {
  width: 250px;
}

/* line 337, ../sass/main.scss */
#database-list {
  width: 1032px;
}
