/* line 17, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/sassy-mixins.scss */
.rainbow :nth-child(10n + 1) {
  background-color: #ff6a61;
}
/* line 11, ../sass/sassy-mixins.scss */
.rainbow :nth-child(10n + 2) {
  background-color: #ff9f69;
}
/* line 11, ../sass/sassy-mixins.scss */
.rainbow :nth-child(10n + 3) {
  background-color: #ffd471;
}
/* line 11, ../sass/sassy-mixins.scss */
.rainbow :nth-child(10n + 4) {
  background-color: #c9dc6f;
}
/* line 11, ../sass/sassy-mixins.scss */
.rainbow :nth-child(10n + 5) {
  background-color: #94e46d;
}
/* line 11, ../sass/sassy-mixins.scss */
.rainbow :nth-child(10n + 6) {
  background-color: #81dbae;
}
/* line 11, ../sass/sassy-mixins.scss */
.rainbow :nth-child(10n + 7) {
  background-color: #6ed2ef;
}
/* line 11, ../sass/sassy-mixins.scss */
.rainbow :nth-child(10n + 8) {
  background-color: #9fb2f1;
}
/* line 11, ../sass/sassy-mixins.scss */
.rainbow :nth-child(10n + 9) {
  background-color: #d092f4;
}
/* line 11, ../sass/sassy-mixins.scss */
.rainbow :nth-child(10n + 10) {
  background-color: #e77eaa;
}

/* line 8, ../sass/sassy-classes.scss */
.selectable {
  cursor: pointer;
  border: 2px dashed transparent;
  border-radius: 2px;
}
/* line 23, ../sass/sassy-mixins.scss */
.selectable:hover {
  background-color: rgba(148, 228, 109, 0.15);
  border-color: rgba(148, 228, 109, 0.6);
}
/* line 28, ../sass/sassy-mixins.scss */
.selectable.selected {
  background-color: rgba(148, 228, 109, 0.25);
  border-color: #94e46d;
}
/* line 33, ../sass/sassy-mixins.scss */
.selectable:active {
  background-color: rgba(148, 228, 109, 0.2);
  border-color: #94e46d;
}

/* line 12, ../sass/sassy-classes.scss */
.column-wrapper {
  white-space: nowrap;
}

/* line 16, ../sass/sassy-classes.scss */
.column {
  display: inline-block;
  vertical-align: top;
  width: 195.2px;
  padding: 6px;
}

/* line 9, ../sass/sassy.scss */
* {
  box-sizing: border-box;
}

/* line 13, ../sass/sassy.scss */
body {
  padding: 28px;
  font-size: 14px;
  line-height: 1.25;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222222;
}

/* line 21, ../sass/sassy.scss */
h1 {
  font-size: 48px;
}

/* line 24, ../sass/sassy.scss */
h2 {
  font-size: 36px;
}

/* line 27, ../sass/sassy.scss */
h3 {
  font-size: 24px;
}

/* line 30, ../sass/sassy.scss */
h4 {
  font-size: 20px;
}

/* line 33, ../sass/sassy.scss */
h5 {
  font-size: 17px;
}

/* line 36, ../sass/sassy.scss */
h6 {
  font-size: 14px;
}

/* line 40, ../sass/sassy.scss */
input[type="text"] {
  font-size: 14px;
  padding: 6px 6px;
  margin: 0;
  border-radius: 2px;
  border: 1px solid #bbbbbb;
  outline: none;
  width: 268px;
}
/* line 49, ../sass/sassy.scss */
input[type="text"]:hover {
  border-color: #a2a2a2;
}
/* line 53, ../sass/sassy.scss */
input[type="text"]:focus {
  border-color: #5ac625;
}

/* line 58, ../sass/sassy.scss */
input[type="checkbox"] {
  position: relative;
  top: 1px;
}

/* line 63, ../sass/sassy.scss */
button {
  font-size: 14px;
  cursor: pointer;
  padding: 6px 8px;
  margin: 0;
  border-radius: 2px;
  border: 1px solid #bbbbbb;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(15%, #ffffff), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#eeeeee, #ffffff 15%, #eeeeee);
  background-image: -moz-linear-gradient(#eeeeee, #ffffff 15%, #eeeeee);
  background-image: -o-linear-gradient(#eeeeee, #ffffff 15%, #eeeeee);
  background-image: linear-gradient(#eeeeee, #ffffff 15%, #eeeeee);
  color: #444;
}
/* line 73, ../sass/sassy.scss */
button:hover {
  border-color: #a2a2a2;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7e7e7), color-stop(15%, #ffffff), color-stop(100%, #e7e7e7));
  background-image: -webkit-linear-gradient(#e7e7e7, #ffffff 15%, #e7e7e7);
  background-image: -moz-linear-gradient(#e7e7e7, #ffffff 15%, #e7e7e7);
  background-image: -o-linear-gradient(#e7e7e7, #ffffff 15%, #e7e7e7);
  background-image: linear-gradient(#e7e7e7, #ffffff 15%, #e7e7e7);
}
/* line 79, ../sass/sassy.scss */
button:active {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08) inset, 0 0 8px 1px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08) inset, 0 0 8px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08) inset, 0 0 8px 1px rgba(0, 0, 0, 0.1) inset;
}

/* line 85, ../sass/sassy.scss */
::selection {
  background: #94e46d;
}

/* line 88, ../sass/sassy.scss */
::-moz-selection {
  background: #94e46d;
}

/* line 94, ../sass/sassy.scss */
.tabs li {
  display: inline-block;
  width: 120px;
  height: 41px;
}
/* line 99, ../sass/sassy.scss */
.tabs li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 41px;
  text-align: center;
  color: #222222;
  text-decoration: none;
  font-size: 24px;
  opacity: 0.35;
  border-bottom: 2px dashed transparent;
}
/* line 111, ../sass/sassy.scss */
.tabs li a:hover {
  border-bottom-color: #222222;
  opacity: 0.55;
}
/* line 116, ../sass/sassy.scss */
.tabs li a:active {
  opacity: 0.75;
}
/* line 122, ../sass/sassy.scss */
.tabs li.active a {
  border-bottom-color: #222222;
  opacity: 1.0;
}

/* line 130, ../sass/sassy.scss */
a {
  color: #349e01;
  text-decoration: none;
}
/* line 134, ../sass/sassy.scss */
a:visited {
  color: #349e01;
}
/* line 138, ../sass/sassy.scss */
a:hover {
  text-decoration: underline;
}

/* line 3, ../sass/main.scss */
[ng-cloak] {
  display: none;
}

/* line 7, ../sass/main.scss */
#wrapper {
  position: relative;
}

/* line 11, ../sass/main.scss */
#header-container {
  white-space: nowrap;
  padding-bottom: 28px;
}

/* line 16, ../sass/main.scss */
#title {
  display: inline-block;
}

/* line 20, ../sass/main.scss */
#nav-container {
  display: inline-block;
  position: relative;
  left: 20px;
}

/* line 26, ../sass/main.scss */
#loading-message {
  width: 120px;
  height: 41px;
  line-height: 41px;
  border-bottom: 2px dashed #222222;
  opacity: 0.35;
  text-align: center;
}

/* line 35, ../sass/main.scss */
.food-list {
  width: 976px;
}
/* line 38, ../sass/main.scss */
.food-list li {
  padding: 2px 6px;
}
/* line 41, ../sass/main.scss */
.food-list li .food-label {
  width: 100%;
  color: #222222;
}
/* line 46, ../sass/main.scss */
.food-list li .food-group {
  float: right;
}

/* line 53, ../sass/main.scss */
.nutrient-list li {
  padding: 2px 6px;
}

/* line 58, ../sass/main.scss */
.search-form {
  padding: 0 6px 6px;
}

/* line 67, ../sass/main.scss */
food-comparison {
  position: relative;
}

/* line 71, ../sass/main.scss */
.food-comparison-list {
  width: 230px;
  position: absolute;
  left: 0;
  top: 80px;
  z-index: 1;
}
/* line 78, ../sass/main.scss */
.food-comparison-list li {
  position: relative;
  height: 46px;
  padding-right: 6px;
}
/* line 84, ../sass/main.scss */
.food-comparison-list .food-label {
  height: 100%;
  width: 100%;
  display: table;
}
/* line 89, ../sass/main.scss */
.food-comparison-list .food-label a {
  display: table-cell;
  vertical-align: middle;
  padding: 0 6px;
  color: #222222;
}
/* line 97, ../sass/main.scss */
.food-comparison-list .remove-button {
  position: absolute;
  left: -16px;
  top: 14px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  padding-left: 6px;
}
/* line 106, ../sass/main.scss */
.food-comparison-list .remove-button:hover {
  font-weight: bold;
  color: #fa0e00;
}

/* line 113, ../sass/main.scss */
.food-comparison-graphs {
  white-space: nowrap;
  margin-left: 236px;
}
/* line 117, ../sass/main.scss */
.food-comparison-graphs svg {
  margin-left: -4px;
}

/* line 122, ../sass/main.scss */
.clear-selected-button {
  position: relative;
  top: 10px;
  margin-left: 6px;
}

/* line 128, ../sass/main.scss */
.nutrient-label {
  cursor: pointer;
}

/* line 132, ../sass/main.scss */
.text-with-icon {
  width: 976px;
  position: relative;
  padding-left: 60px;
  min-height: 48px;
  margin-bottom: 28px;
}
/* line 140, ../sass/main.scss */
.text-with-icon img {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 149, ../sass/main.scss */
nutrient-list {
  display: block;
  margin-bottom: 14px;
}

/* line 154, ../sass/main.scss */
.nutrient-graph {
  display: inline-block;
  width: 100px;
  height: 16px;
  background-color: rgba(148, 228, 109, 0.5);
  position: relative;
  top: 3px;
}

/* line 163, ../sass/main.scss */
.nutrient-bar {
  background-color: #94e46d;
  height: 16px;
}
